@media screen {
    .access-request-form {
        display: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        position: fixed;
        top: 0;
        left: 0;
    }
    .access-request-form .form-wrapper {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .access-request-form .form-wrapper .form-block {
        background: #ffffff;
        border: 1px solid #000000;
    }
    .access-request-form .form-wrapper .form-block .block-title {
        background-color: #000000;
        padding: 5px 10px;
        color: #ffffff;
        position: relative;
    }
    .access-request-form .form-wrapper .form-block .block-title h3{
        display: inline;
    }
    .access-request-form .form-wrapper .form-block .block-title a {
        color: #ffffff;
    }
    .access-request-form .form-wrapper .form-block .block-title .block-close {
        position: absolute;
        right: 12px;
        top: 5px;
    }
    .access-request-form .form-wrapper .form-block .block-body {
        padding: 15px 10px;
    }
    .access-request-form form label {
        display: block;
        margin-bottom: 12px;
    }
    .access-request-form form label input {
        margin-right: 12px;
        vertical-align: unset;
    }
}
